.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%
}

.auth-input {
  margin-bottom: 13px;
}

.login-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 55px 40px;
}

.login-page h1 {
  margin-bottom: 30px;
}

.login-page .ui.input {
  width: 220px!important;
}

.login-page .ui.button {
  margin-top: 15px!important;
  background-color: #0FADFF;
  color: #fff;
}